/* 
 * adapted from:
 * http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
/*
    This file is used to allow all browsers to start from the same style properties.
*/

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
html,body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	zoom: 1;
}
body { line-height: 1.08; }

/* lists */
ol, ul { }
ol    { list-style-type: decimal; }
ol ol { list-style-type: lower-alpha; }
ol li { zoom: normal; }
ul    { list-style-type: disc; }
ul li { }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* additional reset styles */
a img {border:0;}
