/*
    3.0_2.screen-components
    
    - basic reusable items which are simple
    - components cannot contain child components or modules
    - components can use the following prefixes:
      - cp    component
      - cta   call to action
      - hs    hotspot
    
    Component styles should be grouped together with a heading name
    and description. Styles within each group should then appear as
    they do in the markup including indentation.
    
    Component definitions should be ordered alphabetically.
    
    See example below. 
    (Note: A space has been added next to * to prevent this comment block from breaking.
    This would be removed when used)

/ *
	cp-componentName
	Description of component
----------------------------------------* /
.cp-componentName {}
	.cp-componentName-member {}
	.cp-componentName a {}

/ *
	cp-secondComponentName
	Description of component
----------------------------------------* /
.cp-secondComponentName {}
	.cp-secondComponentName-member {}
	.cp-secondComponentName a {}


*/

/*
	cp-numberedPara
	paragraph with a large floated number
----------------------------------------*/
.cp-numberedPara {
	padding-top: 10px;
	position: relative;
}
	.cp-numberedPara-num {
		color:#00ADEF;
		float: left;
		font-size: 3em;
		font-weight: bold;
		line-height: 1em;
		width: 30px;
		vertical-align: top;
	}
