/*
	3.0_1.screen-reusable
	This file has two sections. 
	
	The first is for simple 1 or 2 line styles:	
	- This should contain basic reusable styles.
	- This should not contain any component or module styles
	- The styles should be in a rough alphabetical order
	
	The Second is for icon definitions
	- icon names should be in a rough alphabetical order
*/


.accessibility-item,
.accessibility-link { position:absolute; display: block; top: auto; left: -10000px; width: 1px; height: 1px; }
.align-left         { text-align: left !important; }
.align-right        { text-align: right !important; }
/*  cc - clear container */
.cc { zoom: 1; } .cc:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.float-right        { float: right !important; }
.font-weight-normal { font-weight: normal !important; }
.hide				{ display: none; }
.image-float-left	{ float: left; margin: 0 10px 10px 0px; }
.image-float-right	{ float: right; margin: 0 0 10px 10px; }
.tight-top          { padding-top: 0 !important; }

.featureButton {
	background:#00ADEF !important;
	border: solid 1px #6bd7ff !important;
	box-shadow:0 0 10px #00ADEF;
	-webkit-box-shadow:0 0 10px #00ADEF;
	-moz-box-shadow:0 0 10px #00ADEF;
	color: #000 !important;
	font-weight: bold;
	text-decoration: none;
}
.featureButton:hover {
	background-color: #6bd7ff !important;
	border-color: #eef !important;
}
.featureBlock {
	display: block;
	font-size: 1.2em;
	margin: 15px 0 0;
	padding: 20px 10px;
	text-align: center;
}

/*
    Section for icons
--------------------------------------------------------*/
.ico {
    vertical-align: top;
    margin: 0;
    outline: none;
    padding-left: 15px;
    position: relative;
    text-align: left;
    text-decoration: none !important;
    zoom: 1; /* this tells ie to mark the element with the hasLayout property allowing us to use the % below */
}
    .ico span {
	    background-image: url(../images/sprites.png); /* ie6 override */
	    background-repeat: no-repeat;
	    display: block;
	    height: 15px;
	    left: 0;
	    margin: -7px 0 0;
	    padding: 0;
	    position: absolute;
	    text-align: left;
	    text-indent: -9999px;
	    top: 50% !important; /* this is overriden in ie7/6 to 49.9% */
	    width: 15px;
	    zoom: 1;
    }
	* html .ico span { background-image: url(../images/sprites.gif); top: 49.9%; } /* ie6 only */
	*:first-child+html { top: 49.9%; } /* ie7 only */
	
a.ico, a.ico span { cursor: pointer; }

/* example icon */
.ico-x {
    padding-left: 8px !important; /* approx ico width */
}
    .ico-x span {
        background-position: -25px -50px; /* position within sprite */
        height: 9px; /* exact icon height */
        margin-top: -4px; /* tweak this to position the icon vertically with text */
        width: 10px; /* exact icon width */
    }
