html,body {
	width: 480px;
}
#wrapper {
	width: 480px;
	overflow: hidden;
}
	#logo img {
		width: 100px;
	}

#content {
	padding: 5em 5px;
}
#nav-primary {
	height: 48px;
	padding-left: 87px;
	width: 480px;
}
	#nav-primary li a {
		font-size: 1em;
		letter-spacing: 0.01em;
		padding: 3px 5px;
	}
	#nav-primary li.nav-selected a {
		padding-bottom: 12px;
	}



	.lay-wideL .lay-wideL-left { 
		float: none; 
		width: auto; 
	}
		.lay-wideL .lay-wideL-left object,
		.lay-wideL .lay-wideL-left embed {
			width: 100%;
		}
	.lay-wideL .lay-wideL-right { 
		float: none; width: auto; 
	}
