---
layout: default
title: Juxtapo Front End Tools
---
<div class="cp-promo">
    <ul class="cp-promo-controller cc">
        <li>
            <a href="#s1"><span class="cp-numberedPara-num">1 </span>What is juxtapo</a>
        </li>
        <li>
            <a href="#s2"><span class="cp-numberedPara-num">2 </span>Download<br/>and install</a>
        </li>
        <li>
            <a href="#s3"><span class="cp-numberedPara-num">3 </span>Plugins<br/>to enhance your productivity</a>
        </li>
        <li>
            <a href="#s4"><span class="cp-numberedPara-num">4 </span>Contribute<br/>to the community</a>
        </li>
    </ul>
    <div class="cp-promo-carousel cc">
        <div class="cp-promo-carouselWrapper cc">
            <div id="s1" class="cp-promo-item cc">
            	{% include whatisjuxtapo.html %}
            </div>
            <div id="s2" class="cp-promo-item">
                {% include download.html %}
            </div>
            <div id="s3" class="cp-promo-item">
            	{% include plugins.html %}
            </div>
            <div id="s4" class="cp-promo-item">
            	{% include contribute.html %}
            </div>
        </div>
    </div>
</div>
