<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		{! Link.base = ""; /* all generated links will be relative to this */ !}
		<title>juxtapo documentation - File Index</title>
		<meta name="generator" content="JsDoc Toolkit" />		
		{+include("static/htmlhead.html")+}
	</head>	
	<body>
        <div id="wrapper">
            <div id="logo">
                <a href="http://juxtapo.net/"><img src="images/juxtapo-logo.png" alt="juxtapo front end tools" /></a>
            </div>
            <div id="content">
				<div class="lay-wideR cc">
				    <div class="lay-wideR-right cc">
				        <div class="textRegion">
						<h1 class="classTitle">File Index</h1>			
						<for each="item" in="data">
						<div>
							<h2>{+new Link().toSrc(item.alias).withText(item.name)+}</h2>
							<if test="item.desc">{+resolveLinks(item.desc)+}</if>
							<dl>
								<if test="item.author">
									<dt class="heading">Author:</dt>
									<dd>{+item.author+}</dd>
								</if>
								<if test="item.version">
									<dt class="heading">Version:</dt>
										<dd>{+item.version+}</dd>
								</if>
								{! var locations = item.comment.getTag('location').map(function($){return $.toString().replace(/(^\$ ?| ?\$$)/g, '').replace(/^HeadURL: https:/g, 'http:');}) !}
								<if test="locations.length">
									<dt class="heading">Location:</dt>
										<for each="location" in="locations">
										<dd><a href="{+location+}">{+location+}</a></dd>
										</for>
								</if>
							</dl>
						</div>
						<hr />
						</for>

				        </div>
				    </div>
				    <div class="lay-wideR-left cc">
				    	<div class="mod-navSection">
							{+publish.classesIndex+}
						</div>
				    </div>
				</div>				
            </div>
			{+include("static/navPrimary.html")+}
            <div id="footer" class="lay-c3 cc">
                <div class="lay-c3-left cc">
                    <h2>Juxtapo News</h2>
                    <p>
						<img src="/images/feed-icon-12x12-orange.gif" alt="" />
						<a href="http://feeds.feedburner.com/juxtapo">
							Subscribe to the Juxtapo Blog
						</a>
                    </p>
                </div>
                <div class="lay-c3-mid cc">
                    <h2>Featured Plugins</h2>
                    <ul class="nav-v">
                        <li>Google Spreadsheets</li>
                        <li>QUnit</li>
                        <li>Views</li>
                        <li>Info</li>
                    </ul>
                </div>
                <div class="lay-c3-right cc">
                    <h2>Help and Information</h2>
                    <ul class="">
                        <li>
							<img src="images/feed-icon-12x12-orange.gif" alt="" />
							<a href="http://feeds.feedburner.com/juxtapo">
								Subscribe to the Juxtapo Blog
							</a>
                        </li>
						<li>
							<a href="http://juxtapo.net/about">About Juxtapo</a>
						</li>
						<li>
							<a href="http://twitter.com/juxtapotools">http://twitter.com/juxtapotools</a><br />
							Use hash tag #juxtapotools when referring to Juxtapo.
						</li>
                    </ul>
                </div>
            </div>
            <!-- end #content -->
        </div>
		{+include("static/analytics.html")+}
	</body>
</html>