<div class="lay-wideR cc">
    <div class="lay-wideR-right cc">
        <div class="textRegion">
            <h2>Contribute to the community</h2>
            <p class="cp-numberedPara cc">
                Juxtapo has been designed with a small basic core and to be extremely easy to
				extend. This is so that we put YOU the developer in control. 
            </p>
            <p>
            	We want to know how you have used/extended Juxtapo to meet your needs,
				and we'll share any new plugins and advice with the community.
            </p>
			<p>
				
			</p>
        </div>
    </div>
    <div class="lay-wideR-left cc">
    	&nbsp;
    </div>
</div>