<div class="lay-wideL cc">
    <div class="lay-wideL-right cc">
        <h2>Download and Install</h2>
        <p class="cp-numberedPara cc">
            <span class="cp-numberedPara-num">1 </span>
			Download the latest version
        </p>
        <p>
            <a href="http://github.com/downloads/davetayls/juxtapo/juxtapo-v0.7.zip" class="featureButton featureBlock">Download latest version 0.7</a>
        </p>
        <p class="cp-numberedPara">
            <span class="cp-numberedPara-num">2 </span>
			Extract the files in to your website <br />(doesn't need to be in the root)
        </p>
        <p class="cp-numberedPara">
            <span class="cp-numberedPara-num">3 </span>
			Copy the juxtapo.config.js file to another location and edit it to add your templates
        </p>
        <p class="cp-numberedPara">
            <span class="cp-numberedPara-num">4 </span>
			Include a script reference to the juxtapo.js and juxtapo.config.js file within your page
        </p>
    </div>
    <div class="lay-wideL-left cc">
		<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/no6InlWVSUo&hl=en_GB&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/no6InlWVSUo&hl=en_GB&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
    </div>
</div>