<div id="nav-primary"{% if page.navclass %} class="{{ page.navclass }}"{% endif %}>
    <ul>
        <li>
            <a class="featureButton" href="{{ site.latest_stable_url }}">Download here</a>
        </li>
        <li{% if page.navclass == 'quickstart'%} class="nav-selected"{% endif %}>
            <a href="/">Quickstart</a>
        </li>
        <li{% if page.navclass == 'docs'%} class="nav-selected"{% endif %}>
            <a href="/docs/">Documentation</a>
        </li>
		<li{% if page.navclass == 'blog'%} class="nav-selected"{% endif %}>
			<a href="/blog/">
				Blog
			</a>
		</li>
		<li>
			<a href="http://github.com/davetayls/juxtapo/issues">
				Bug tracker
			</a>
		</li>
    </ul>
</div>
