<div class="lay-wideR cc">
    <div class="lay-wideR-left cc">
        <h2>Enhance your productivity with plugins?</h2>
        <p class="cp-numberedPara cc">
            <span class="cp-numberedPara-num">library </span>
            Juxtapo already has a collection of plugins which will enhance your development. 
			Some of these are bundled in with the download. 
        </p>
		<p>
			If you have developed a plugin for juxtapo then email it to us and we will feature
			it here on the site.
		</p>
    </div>
    <div class="lay-wideR-right cc">
    	<div class="textRegion">
    		<h2>Bundled Plugins</h2>
			<p>The following plugins are bundled in with the download</p>
	        <ul>
				<li><strong>QUnit</strong>: Allows for in build unit testing using the qunit library</li>
				<li><strong>Google Spreadsheets</strong>: Get your design templates and template metadata from a Google spreadsheet</li>
				<li><strong>Design Info</strong>: Show the positioning and size of the current design</li>
				<li><strong>Views</strong>: Different displays for the template thumbnails</li>
	        </ul>
			<h2>Help with writing your own plugins</h2>
			<p>We have built a pretty comprehensive set of docs, if there are any questions feel free to contact us.</p>
			<ul>
				<li>
					<a href="/docs/plugins/writingabasicplugin.html">Writing a basic plugin</a>
				</li>
			</ul>
		</div>
    </div>
</div>