<div class="lay-wideL cc">
    <div class="lay-wideL-right cc">
        <h2>What is juxtapo?</h2>
        <p>You can test Juxtapo on this site using the controller at the bottom left of the screen.</p>
        <p class="cp-numberedPara cc">
            <span class="cp-numberedPara-num">1 </span>In-browser tools using JavaScript to assist while you're turning designs in to html/css
        </p>
        <p>The core library is designed to be basic and fast to get up and running.</p>
        <ul>
            <li>Overlays</li>
            <li>Keyboard nudging</li>
            <li>Page auto refresh</li>
        </ul>
        <p class="cp-numberedPara">
            <span class="cp-numberedPara-num">2 </span>
            A simple <a href="docs/index.html">plugin API</a>
            which allows for any developer to extend the core functionality.
        </p>
        <p>
            <a href="http://github.com/downloads/davetayls/juxtapo/juxtapo-v0.7.zip" class="featureButton featureBlock">Download latest version 0.7</a>
        </p>
    </div>
    <div class="lay-wideL-left cc">
    	<ul class="cp-screenShots cc">
    		<li>
    			<a class="lightBox-link" href="/screenshots/0.7/thumbs.png"
				title="Juxtapo shows all the registered thumbnails in a searchable thumb sheet">
    				<img src="/screenshots/0.7/thumbs-thumb.png" alt="juxtapo thumbnails pop up" />
    			</a>
				<span>Template thumbnails</span>
    		</li>
    		<li>
    			<a class="lightBox-link" href="/screenshots/0.7/keyboardshortcuts.png"
				title="Juxtapo has keyboard shortcuts to show/nudge and browse through the template designs">
    				<img src="/screenshots/0.7/keyboardshortcuts-thumb.png" alt="juxtapo has keyboard shortcuts" />
    			</a>
				<span>Keyboard Shortcuts</span>
    		</li>
    		<li>
    			<a class="lightBox-link" href="/screenshots/0.7/juxtapoandqunit.png"
				title="Juxtapo includes a Plugin API which enables you to easily extend the core functionality. Here you can see the QUnit plugin showing 119 tests have completed in the background.">
    				<img src="/screenshots/0.7/juxtapoandqunit-thumb.png" alt="juxtapo with the qunit plugin" />
    			</a>
				<span>QUnit plugin</span>
    		</li>
    		<li>
    			<a class="lightBox-link" href="/screenshots/0.7/consolelogging.png"
				title="Juxtapo includes an in-browser logger for when you don't have access to the console">
    				<img src="/screenshots/0.7/consolelogging-thumb.png" alt="juxtapo console logging" />
    			</a>
				<span>Console logging</span>
    		</li>
    		<li>
    			<a class="lightBox-link" href="/screenshots/0.7/overlays.png"
				title="Juxtapo includes semi transparent and opaque overlays of your designs which can be nudged using the keyboard for extra precision.">
    				<img src="/screenshots/0.7/overlays-thumb.png" alt="juxtapo console logging" />
    			</a>
				<span>Overlays</span>
    		</li>
    	</ul>
    </div>
</div>